@font-face {
    font-family: 'DailyMix';    
    src: url('font/Daily\ Mix\ 3.otf')  format('opentype')        
}

html {
    overflow-y: scroll;
}

body { 
    font-family: 'Muli', sans-serif; 
    background-color: #353434;
}

p { margin: 0 0 25px}

h1, h2, h3 { 
    font-family: 'Titillium Web', sans-serif;
    color: #e44964;
    margin-top: 0;
}

h2, h3 { margin-bottom: 5px; }

h2 { font-size: 1.15rem; }

img { max-width: 100%; }

a { 
    color: white; 
    text-decoration: none;
}

a:hover { color: gold; }

.app-container {
    width: 80%;
    margin: 0 auto;
}

.search-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    margin: 20px 0;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    background-color: #2f2323;
}

.flex-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.1rem;
}

.search-field { 
    margin-right: 15px;
    padding: 5px 10px;
    border: none; 
    border-radius: 2px;
    font-family: 'Muli', sans-serif; 
}

.search-button {
    padding: 5px 30px;
    border-radius: 3px;
    background-color: #e44964;
    color: white;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

.search-button:hover,
.search-button:focus {
    background: gold;
    color: #2f2323;
}

.search-button:active {
    transform: scale(0.95);
    background: rgb(255, 244, 182);
}

.logo {    
    box-sizing: border-box;    
    color: transparent;    
    font-size: 2.5rem;
    letter-spacing: 0.1rem;   
    font-family: 'DailyMix', arial, sans-serif;    
    -webkit-text-stroke: 2px #e44964;
}   

.loading-container {
    width: 100%;
    padding: 100px 15px;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    background-color: #2f2323;
    text-align: center;
    font-size: 1.5rem;
}

.artist-container {
    display: flex;
    width: 100%;
    padding: 15px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    background-color: #2f2323;
}

.artist-thumbnail {
    flex: 1 35%;
    padding: 15px;
}

.image-loading, .image-error {
    text-align: center;
    padding-top: 50px;
}

.artist-info {
    flex: 2 65%;
    padding: 15px 15px 0;
}

.artist-info h1 { margin-bottom: 25px; }

@media all and (max-width: 1100px){
    .app-container {
        width: 90%;
    }
    .logo {
        font-size: 2rem;
    }
}

@media all and (max-width: 850px){
    .app-container {
        width: 94%;
    }
    .search-container {
        padding: 20px 20px 30px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .flex-form {
        justify-content: center;
    }
    .logo {
        text-align: center;
        margin-bottom: 15px;
        font-size: 2.5rem;
    } 
    .artist-container {
        flex-wrap: wrap;
    }
    .artist-thumbnail {
        flex: 1 100%;
    }
    .artist-info {
        flex: 1 100%;
    }
    .artist-thumbnail.image-error {
        display: none;
        padding: 0;
    }
}

@media all and (max-width: 500px){
    
    .search-field, .search-button {
        flex: 1 0 auto;
    }

    .search-button {
        margin: 15px 50px 0;
    }

    .artist-container {
        padding: 5px;
    }    
}


.line-one {
    height: 1000px;
    border-left: 25px solid #e44964;
    border-right: 5px solid goldenrod;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: fixed;
    left: 100px;
    z-index: -1;
    top: -160px;
    box-shadow: 0px 0px 50px 8px #e44964;
    background-color: goldenrod;
}

.line-two {
    height: 500px;
    border-left: 25px solid #e44964;
    border-right: 5px solid goldenrod;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: fixed;
    left: 250px;
    z-index: -1;
    top: -160px;
    box-shadow: 0px 0px 60px 8px #e44964;
    background-color: goldenrod;
}

.hide {
    visibility: hidden;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.4s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Some Normalising */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.5; /* 1 */
   margin: 0; /* 2 */
 }

 @media all and (max-width: 850px){
    button,
    input { line-height: 2;}
 } 
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }